h1, h2, h3, p { margin-bottom: 6pt; margin-top: 6pt; }
body, p, h1, h2, h3 { font-family: sans-serif; }
dt, dd { font-size: 8pt; }
code { font-family: monospace; }

/* Language Reference */

#guide {
    position: absolute;
    right:10px;
    top: 10px;
    width: 400px;

    padding: 5pt;
    padding-top: 0px;

    z-index: 10;

    color: black;
    background-color: white;
    border: solid 1px black;
}

#guide_body { width: 400px; height: 450px; border: none; }
#guide #toggle_link { display: block; float: right; margin-top: 8pt; }

/* Graphical and Textual Display */

#display {
    width: 760px;
    height: 480px;
    position: relative;
}

#sandbox {
    position: absolute;
    border: solid 1px black;
    z-index: 0;
}

#sandbox span {
    color: red; background-color: yellow; font-weight: bold;
}

#turtle {
    position: absolute; border: solid 1px black; z-index: 1;
}

#overlay {
    width: 740px;
    height: 460px;
    padding: 10px;
    margin: 0;
    position: absolute;
    z-index: 2;
    background-color: transparent;
    overflow: hidden;
    white-space: pre-wrap;
    font-family: Monospace;
}

#input {
    width: 440px;
}

#entry_multi {
    width: 440px; height: 300px; font-family: monospace;
    margin-left: 15px;
    padding: 10px;
}

#run {
    background-color: #7fbf4d;
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
}

#title {
    font-weight: bold;
    font-size: 30px;
    font-family: "helvetica neue";
    color: green;
}

.command-reference {
    float: left;
    margin-top: 30px;
}

.examples {
    float: left;
    margin-top: 30px;
}

ol {
    
}

td {
    font-size: 12px;
}
